<launch>
<node pkg="rosserial_python" type="serial_node.py" name="arduino_uno" args="/dev/ttyACM0" />
<node pkg="rosserial_python" type="serial_node.py" name="arduino_mega" args="/dev/ttyACM1" />
<node pkg="motor_controller" type="joyStickVelPubV2.py" name="joystick"/>
<node pkg="motor_controller" type="odom_node" name="Odometry" />
</launch>
